<!--=====================================================================================
        Copyright 2016 Cisco Systems

        Licensed under the Apache License, Version 2.0 (the "License");
        you may not use this file except in compliance with the License.
        You may obtain a copy of the License at

        http://www.apache.org/licenses/LICENSE-2.0

        Unless required by applicable law or agreed to in writing, software
        distributed under the License is distributed on an "AS IS" BASIS,
        WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
        See the License for the specific language governing permissions and
        limitations under the License.
=====================================================================================-->
<configuration debug="false">

<!--================= OUTPUT CONFIGURATION ================-->

    <logger name="output" level="info" additivity="false">
        <!-- Configure the output method(s) here by adding appenders. E.g. FILE, TCP, UDP or other -->
        <!-- All appenders configured here must have the following encoder configuration.
        <encoder>
            <pattern>%msg%n</pattern>
        </encoder>
        -->
    </logger>



<!--================== LOG CONFIGURATION ==================-->

    <appender name="LOG_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>log/adapter.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <fileNamePattern>log/adapter.%i.log</fileNamePattern>
            <minIndex>1</minIndex>
            <maxIndex>3</maxIndex>
        </rollingPolicy>
        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <maxFileSize>10MB</maxFileSize>
        </triggeringPolicy>
        <encoder>
            <pattern>%date{YYYY-MM-dd HH:mm:ss} %level %logger{10} %msg%n%ex</pattern>
        </encoder>
    </appender>

    <logger name="org.apache.http.wire" level="debug" additivity="false">
        <appender-ref ref="LOG_FILE"/>
    </logger>

    <appender name="SCREEN" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%msg%n</pattern>
        </encoder>
    </appender>

    <logger name="com.cisco.cta.taxii.adapter.smoketest" level="info" additivity="false">
        <appender-ref ref="SCREEN"/>
    </logger>

    <root level="warn">
        <appender-ref ref="LOG_FILE"/>
    </root>

</configuration>
